.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
}

.containerWide {
  max-width: none;
  padding-right: clamp(20px, 4vw, 64px);
  padding-left: clamp(20px, 4vw, 64px);
}

.containerWide .header {
  width: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-top: 40px;
  margin-bottom: 24px;
}

.name {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 24px;
  transition: color 0.2s;
}

.name:hover {
  color: #a8a29e;
}

.nav {
  display: flex;
  align-items: center;
  gap: 6px;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 8px;
  color: #a8a29e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.navLink:hover {
  color: var(--link-hover);
}

.navLinkActive {
  font-weight: 400;
  color: var(--active);
}

.navIcon {
  display: flex;
}

.navLabel {
  display: none;
}

.content {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .header {
    margin-top: 64px;
  }

  .name {
    padding-right: 32px;
  }

  .nav {
    gap: 16px;
  }

  .navLink {
    padding: 0;
  }

  .navIcon {
    display: none;
  }

  .navLabel {
    display: inline;
  }
}
