.paragraph {
  font-size: 18px;
  margin: 8px 0;
}

.small {
  font-size: 16px;
  color: var(--muted);
  margin-top: 8px;
}

.link {
  text-decoration: underline;
}

.link:hover {
  opacity: 0.75;
}



.list {
  margin-top: 8px;
}

.item {
  padding: 4px 0;
}

.itemTitle {
  font-size: 20px;
}

.itemTitle:hover {
  text-decoration: underline;
}

.date {
  font-size: 12px;
  font-style: italic;
  padding: 8px;
  color: #111827;
}
